[DISCORD]
DiscordToken = TOKEN_HERE
CallCharacter = !

[TWITCH]
TwitchClientID = CLIENT_ID_HERE
TwitchClientSecret = CLIENT_SECRET_HERE
TwitchAnnouncementMessage = @here {streamer} is live: {stream_description} <{stream_link}>
TwitchPollRate = 60

[BOT_VARS]